.font-sf {
  font-family: 'SF Pro', sans-serif;
  color: #282c34;
  font-size: 0.75rem;
}
.font-b{
  font-family: 'SF Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #282c34;
  line-height: 1.7;
}
.font-s {
  color: #282c34;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.7;
}
.font-s:hover{
  color: black;
}
.font{
  color: #464646;
  line-height: 1.7;
}