.font-sf {
  font-family: 'SF Pro', sans-serif;
  color: #464646;
  font-size: 0.75rem;
}
.font-nf {
  font-family: 'SF Pro', sans-serif;
  color: #464646;
  font-size: 0.75rem;
}
.font-b{
  font-family: 'SF Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #282c34;
  line-height: 1.7;
}
.font-s {
  color: #1b1d22;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 2.2;
}
.font-s:hover{
  color: black;
}
.font{
  color: #464646;
  line-height: 1.7;
}

@media (min-width: 800px) and (max-width: 900px) {
  .bet {
    gap: 20px;
  }
}

@media (min-width: 765px) and (max-width: 800px) {
  .bet {
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .font-nf{
    font-size: 1.1rem;
  }
  .font-b {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: bold;
  }
  .font-s {
    font-size: 1.1rem;
  }
}